@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald-VariableFont_wght.ttf);
}
@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: OpenSans;
}
.clear {
    clear: both;
}
.hr {
    margin: 20px 0;
    height: 1px;
    background-color: #ccc;
}
/* start nav */
nav {
    background-color: black;
    font-size: 15px;
}
nav a {
    color: #fff;
}
nav i {
    padding: 12px 16px;
}
nav .right {
    float: right;
}
nav i:hover {
    background-color: #bbb;
    color: black;
}

/* start header */
header {
    font-family: Oswald;
    text-align: center;
    padding: 48px 16px;
}
header h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 48px;
    line-height: 92px;
}
header h6 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
header h6 span {
    padding: 0 8px;
    display: inline-block;
    background-color: black;
    color: #fff;
}

/* start home */
#home {
    position: relative;
    color: #fff;
    font-family: Oswald;
}
#home img {
    width: 100%;
    vertical-align: middle;
}
#home .info {
    position: absolute;
    top: 50%;
    padding: 12px 24px;
    margin-top: -135px;
}
#home .info h2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 2px;
}
#home .info h1 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    letter-spacing: 2px;
}
#home .info a {
    padding: 12px 24px;
    font-family: oswald;
    font-size: 18px;
    color: #000;
    text-decoration: none;
    line-height: 27px;
    background-color: hsla(0, 0%, 100%, 0.6);
    border: none;
}
#home .info a:hover {
    background-color: hsla(0, 0%, 100%, 0.9);
}
/* start main */
main {
    padding: 8px 16px;
    background-color: #f1f1f1;
}
/* start aside left */
aside.left {
    padding: 16px;
    float: left;
    width: 70%;
}
aside.left .blog {
    margin-bottom: 30px;
    padding: 12px 24px;
    background-color: #fff;
}
aside.left .header {
    text-align: center;
    font-family: Oswald;
}
aside.left .header h1 {
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 36px;
}
aside.left .header p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 27px;
}
aside.left .main img {
    width: 100%;
}
aside.left .main p {
    font-size: 15px;
    margin: 15px 0;
}
aside.left .main p span {
    font-weight: bold;
    
}
aside.left .main p.left,
aside.left .main p.right {
    padding: 8px 16px;
    width: fit-content;
}
aside.left .main p.left {
    font-weight: bold;
    float: left;
    border: 1px solid #f1f1f1;
}
aside.left .main p.left:hover {
    background-color: #f1f1f1;
}
aside.left .main p.right {
    float: right;
    background-color: #000;
    color: #fff;
}
aside.left .main p.right:hover {
    background-color: #f1f1f1;
    color: #000;
}
aside.left .main p.right span {
    padding: 0 10px;
    background-color: #fff;
    color: #000;
}
aside.left .footer img {
    float: left;
    width: 90px;
}
aside.left .footer .info {
    margin-left: 30px;
    float: left;
}
aside.left .footer h4 {
    font-family: Oswald;
    margin: 15px 0;
}
aside.left .footer h4 span {
    font-weight: normal;
    color: #777;
}
aside.left .footer p {
    margin: 15px 0;
    font-size: 15px;
}
/* start aside right */
aside.right {
    padding: 16px;
    float: right;
    width: 30%;
}
aside.right section {
    margin-bottom: 30px;
    background-color: #fff;
    color: #000;
}
aside.right .header {
    color: #fff;
}
aside.right .header img {
    vertical-align: middle;
}
aside.right .header div {
    padding: 20px;
    background-color: #000;
}
aside.right .header h4 {
    margin: 10px 0;
    font-family: Oswald;
    font-size: 20px;
    line-height: 30px;
}
aside.right .header p {
    font-size: 15px;
    line-height: 23px;
}
aside.right .title {
    padding: 20px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    font-family: Oswald;
}
aside.right .popular-posts {
    background-color: #fff;
}
aside.right .popular-posts .card {
    color: #000;
    padding: 20px;
    border-bottom: 1px solid #bbb;
}
aside.right .popular-posts img {
    vertical-align: middle;
    width: 50px;
    float: left;
}
aside.right .popular-posts .info {
    float: left;
    margin-left: 20px;
}
aside.right .popular-posts p.name {
    font-size: 18px;
    line-height: 27px;
}
aside.right .advertise > div {
    padding: 20px;
}
aside.right .advertise div div {
    padding: 50px 0;
    text-align: center;
    background-color: #f1f1f1;
}
aside.right .tags div {
    padding: 20px;
}
aside.right .tags span {
    display: inline-block;
    padding: 5px;
    font-size: 15px;
    line-height: 23px;
}
aside.right .tags span.active {
    background-color: #000;
    color: #fff;
}
aside.right .inspiration .imgs {
    padding: 10px;
}
aside.right .inspiration img {
    float: left;
    padding: 10px;
    vertical-align: middle;
    width: 50%;
}
aside.right .follow-me .icons {
    padding: 20px;
}
aside.right .follow-me i {
    margin-right: 10px;
    font-size: 24px;
}
aside.right .follow-me i:hover {
    color: #aaa;
}
aside.right .subscribe .send {
    padding: 20px;
}
aside.right .subscribe p {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 23px;
}
aside.right .subscribe input {
    margin-bottom: 20px;
    padding: 8px;
    display: block;
    font-size: 15px;
    line-height: 23px;
    width: 100%;
    border: 1px solid #aaa;
}
aside.right .subscribe button {
    display: block;
    padding: 8px;
    font-size: 15px;
    line-height: 23px;
    width: 100%;
    color: #fff;
    background-color: #f44336;
    border: none;
}
aside.right .subscribe button:hover {
    background-color: #ccc;
    color: #000;
}
/* end main */

/* start footer */
footer {
    padding: 32px;
    background-color: #616161;
}
footer > a {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 12px 24px;
    background-color: #000;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
}
footer > a:hover {
    background-color: #bbb;
    color: #000;
}
footer i {
    font-weight: 900;
    margin-right: 20px;
}
footer p {
    color: #fff;
    margin: 15px 0;
}
footer p a {
    text-decoration: none;
    color: #fff;
}